*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(0, 32, 130);   
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    flex-direction: row;
    min-height: 100vh;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    width: 450px;
    height: 300px;
    margin: 60px;
    background-color: rgb(248, 248, 248);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.597);
    transition: .6s;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
}

.card:hover{
    height: 600px;
}


.imgbx{
    width: 400px;
    height: 300px;
    position: relative;
}

.imgbx img{
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.522);
}

.container .card .text{
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    margin-top: 20px;
}
    
.container .card:hover .text{
    visibility: visible;
    opacity: 1;
    transition: .6s;
    transition-delay: .4s;
}


@media screen and (max-width:420px){ 
    .container{
        display: flex;
        align-items: center;
        justify-content: space-evenly; 
        flex-direction: column;
        min-height: 100vh;
    }

    
.card{
    width: 380px;
    height: 300px;
    margin: 60px;
    visibility: visible;
    opacity: 1;
}
.imgbx{
    width: 340px;
    height: 200px;
}
.imgbx img{
    height: 100%;
}
.container .card .text{
    width: 340px;
}


}